label.required{
  &::after{
    content: '*';
    margin-left: 10px;
    color: red;
  }
}
.form-control.is-invalid, .was-validated .form-control:invalid, .form-control:valid {
  padding-right: 12px !important;
}
input[type="date"]::-webkit-calendar-picker-indicator
{
  margin-right: -6px !important;
}


