.error-screen{
    width: 80%;
    font-size: x-large;
    font-weight: 700;
    color: #666666;
    align-items: center;
    .err-img {
        margin: auto;
        display: block;
        width: 100%;
    }
}

