.header {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid gainsboro;

  a {
    transition: .3s;
    font-weight: 500;
    color: #666666;

    &:hover {
      color: #1890ff;
    }
  }

  .name {
    margin: 0;
    font-size: x-large;
    font-weight: 700;
    color: #666666;

    &:hover {
      color: #666666;
      filter: brightness(90%);
    }
  }

  .logo {
    margin-top: 10px;
    margin-left: 25px;
    align-content: center;
  }

  .col {
    padding: 0 !important;
  }
}

