$spacing: 8px;

.new-edit-project {
  width: 70%;

  .headline {
    color: #666666;
    font-size: 20px;
    font-weight: 600;
  }
  .form {
    padding-top: $spacing * 5;
    padding-bottom: $spacing * 5;
    padding-left: $spacing * 3;
    display: flex;
    flex-direction: column;
    grid-row-gap: 38px;
  }
  .form-event-btn {
    margin-top: $spacing * 6;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    grid-column-gap: $spacing * 7;
    grid-row-gap: $spacing * 2;

    button {
      min-height: 35px;
      min-width: 200px;
      font-weight: bold;
      transition: .3s;

      &:nth-child(1) {
        background: #d9d9d9;

        &:hover {
          background: #bfbfbf;
        }
      }

      &:nth-child(2) {
        color: white;
        background: #1890ff;

        &:hover {
          background: #096dd9;
        }
      }
    }
  }
}



